@charset "UTF-8";
*{
  box-sizing:border-box;
}

/*========= base ===========*/

html {
  margin:0;
  padding:0;
}
body {
  margin: 0;
  padding: 0;
  font-family:"Hiragino Kaku Gothic ProN";
  font-weight: 500;
  color:#333;
  line-height:2.0;
}
h2,h3,h4,{
  margin: 0;
  padding: 0;
}

ul,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  transition: .3s;
  opacity: 0.6;
}
/*-------------------------*/

.content-wrapper{
  margin:0 auto;
  max-width:1400px;
}
.header-nav {
   height: 100px;
   display: flex;
   justify-content:space-between;
   align-items:center;
}
.header-logo{
  margin-left:50px;
  letter-spacing:5px;
}
.header nav ul {
   display:flex;
   justify-content:space-between;
   align-items:center;
}
.header nav ul li {
   margin-right: 50px;
}

/*----------------------------------*/
.mainvisual{
  position:relative;
  height:400px;
  margin:0 15px;
  display:flex;
  justify-content:flex-end;
  align-items:center;
}

.mainvisual img{
  object-fit:cover;
  height:400px;
  width:70%;
}
.mainvisual h2{
  position:absolute;
  left:20%;
  background:rgba(255, 255, 255, 0.8);
  padding:15px 15px;
}

.mainvisual:before{
  position:absolute;
  top:-100px;
  left:-15px;
  content:'';
  background:#e8e7e7;
  height:450px;
  width:570px;
  z-index:-1;
}

/*--------------------------------------*/
.contents{
  height:500px;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.greeting img{
  object-fit:cover;
  width:50%;
  height:300px;
  margin-left:30px;
}

.content{
  text-align:center;
  width:55%;
  padding:0 20px;
}

/*------------------------------------------*/
.work-title{
  text-align:center;
  position:relative;
}
.work-icons{
  height:100%;
  width:100%;
  margin:0 60px;
}
.work-icon p{
  margin:0;
  padding:0;
}
.work-icon img{
  width:100%;
}
.txt-contents{
  font-size:12px;
  width:90%;
}
.work-title:after{
  position:absolute;
  top:-20px;
  left:0;
  content:'';
  background:#e8e7e7;
  width:100%;
  height:300px;
  z-index:-1;
}
/*-----------------------------------------*/
.container{
  height:500px;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  position:relative;

}
.recruit img{
  object-fit:cover;
  height:300px;
  width:70%;
}
.recruit-title{
  position:absolute;
  top:45%;
  left:25%;
  padding:10px 100px;
  background:rgba(255, 255, 255, 0.8);
}
.container:after{
  content:'';
  background:#e8e7e7;
  position:absolute;
  top:50px;
  right:0;
  height:60%;
  width:50%;
  z-index: -1;
}
/*---------------------------------*/
.footer-nav {
   height: 150px;
   display:flex;
   justify-content:space-around;
   align-items:center;
}
.adress{
  display:flex;
  flex-direction: column;
  font-size:12px;
  color:#333;
}
.footer-logo{
  font-size:18px;
  letter-spacing:5px;
}
.footer nav ul{
  display:flex;
}
.footer nav ul li {
  font-size:12px;
  margin:0 10px;
}
